
.field,
select#group_id {
  padding: 5px;
}

input#user_email,
input#user_password,
input#user_password_confirmation,
input#user_name,
input#user_bio,
input#user_photo {
  width: 100%;
}


input,
select#group_id {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ccc;
}

input#user_password_confirmation {
  margin-bottom: 1rem;
}

/* Input with type submit */
input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="submit"]:active {
  background-color: #39863d;
}

input#user_remember_me {
  font-size: 12px;
  width: 151px;
}

.form_styles a {
  text-decoration: none;
  color: rgb(150, 147, 147);
  margin: 0 auto;
  display: table;
}